@page "/forgotPassword"
@using JWTDemo.Shared.DTOs;
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h1>Forgot Password</h1>

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your email</h5>
        <EditForm Model="resetModel" OnValidSubmit="HandleForgotPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mt-2">
                <label for="email">Email address</label>
                <InputText Id="email" Class="form-control" @bind-Value="resetModel.Email" />
                <ValidationMessage For="@(() => resetModel.Email)" />
            </div>
            <div class="form-group mt-2">
                @Message
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </EditForm>

    </div>
</div>

@code {
    private string Message = string.Empty;
    private ResetPasswordDTO resetModel = new ResetPasswordDTO();
    private bool ShowErrors;
    private string Error = "";

    private async Task HandleForgotPassword()
    {
        ShowErrors = false;
        Message = "Please Wait...";
        var result = await AuthService.ForgotPassword(resetModel);

        if (result.Successful)
        {
            Error = result.Error!;
            //NavigationManager.NavigateTo("setPassword");
            ShowErrors = true;
        }
        else
        {
            Error = result.Error!;
            ShowErrors = true;
        }
    }

}